In [1]:
# Gerekli kütüphaneyi import edelim
import pandas as pd

In [2]:
# read_csv() -> CSV formatındaki veri setini dataframe formatında import sağlayan pandas metodu.
states = pd.read_csv("../Sources/data/states.csv")

In [3]:
# "states" dataframe'ini inceleyelim.
states

                   State  Abbrev Code
0                Alabama    Ala.   AL
1                 Alaska  Alaska   AK
2                Arizona   Ariz.   AZ
3               Arkansas    Ark.   AR
4             California  Calif.   CA
5               Colorado   Colo.   CO
6            Connecticut   Conn.   CT
7               Delaware    Del.   DE
8   District of Columbia    D.C.   DC
9                Florida    Fla.   FL
10               Georgia     Ga.   GA
11                Hawaii  Hawaii   HI
12                 Idaho   Idaho   ID
13              Illinois    Ill.   IL
14               Indiana    Ind.   IN
15                  Iowa    Iowa   IA
16                Kansas   Kans.   KS
17              Kentucky     Ky.   KY
18             Louisiana     La.   LA
19                 Maine   Maine   ME
20              Maryland     Md.   MD
21         Massachusetts   Mass.   MA
22              Michigan   Mich.   MI
23             Minnesota   Minn.   MN
24           Mississippi   Miss.   MS
25              Missouri     Mo.   MO
26               Montana   Mont.   MT
27              Nebraska   Nebr.   NE
28                Nevada    Nev.   NV
29         New Hampshire    N.H.   NH
30            New Jersey    N.J.   NJ
31            New Mexico    N.M.   NM
32              New York    N.Y.   NY
33        North Carolina    N.C.   NC
34          North Dakota    N.D.   ND
35                  Ohio    Ohio   OH
36              Oklahoma   Okla.   OK
37                Oregon    Ore.   OR
38          Pennsylvania     Pa.   PA
39          Rhode Island    R.I.   RI
40        South Carolina    S.C.   SC
41          South Dakota    S.D.   SD
42             Tennessee   Tenn.   TN
43                 Texas    Tex.   TX
44                  Utah    Utah   UT
45               Vermont     Vt.   VT
46              Virginia     Va.   VA
47            Washington   Wash.   WA
48         West Virginia   W.Va.   WV
49             Wisconsin    Wis.   WI
50               Wyoming    Wyo.   WY

***
## King County Ev Satış Veri Seti
This dataset includes the home sales from 2014-2015 in King County, WA (the county Seattle is located in)
* `id` - house's unique id
* `date` - sale date
* `price` - sale price
* `bedrooms` - number of bedrooms
* `bathrooms` - numbers of bathrooms
* `sqft_living` - living space square footage 
* `sqft_lot` - total lot square footage
* `floors` - numbers of floors
* `waterfront` - is the house waterfront (1) or not (0)
* `view` - rating from 0 to 4 of how good the view from the house is
* `condition` - rating from 1 (poor) to 5 (very good) of the condition of the house
* `grade` - rating from 1-13 representing the construction quality of improvements. 1-3 Falls short of minimum building standards (cabins, etc.) 7 is avg grade, 11-13 have high-quality design & construction
* `sqft_above` - square footage of the interior that is above ground level
* `sqft_basement` - square footage of the interior that is below ground level
* `yr_built` - year the house was initially built
* `yr_renovated` - The year of the house’s last renovation (if any)
* `zipcode` - zipcode that the house is located in
* `lat` - the property's latitude
* `long` - the property's longitude
* `sqft_living15` - average interior space square footage of the nearest 15 neighbors
* `sqft_lot15` - average lot square footage of the nearest 15 neighbors

In [4]:
# Ev bilgilerinin bulunduğu veri setini import edelim.
houses = pd.read_csv("../Sources/data/kc_house_data.csv")

In [5]:
# "houses" dataframe'ini inceleyelim.
houses

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [6]:
# "houses" dataframe'inin veri tipini inceleyelim.
type(houses)

pandas.core.frame.DataFrame

In [7]:
# houses dataframe'inin sütunlarını inceleyelim.
# Bu işlemi Pandas kütüphanesinin "columns" attribute'unu kullanarak gerçekleştiriyoruz.
houses.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [8]:
# Sütunları daha düzenli olacak şekilde görebilmek adına aşağıdaki kod parçasını kullanabiliriz.
for column in houses.columns:
    print(f"{houses.columns.get_loc(column)}. Column of houses dataframe: {column}")

0. Column of houses dataframe: id
1. Column of houses dataframe: date
2. Column of houses dataframe: price
3. Column of houses dataframe: bedrooms
4. Column of houses dataframe: bathrooms
5. Column of houses dataframe: sqft_living
6. Column of houses dataframe: sqft_lot
7. Column of houses dataframe: floors
8. Column of houses dataframe: waterfront
9. Column of houses dataframe: view
10. Column of houses dataframe: condition
11. Column of houses dataframe: grade
12. Column of houses dataframe: sqft_above
13. Column of houses dataframe: sqft_basement
14. Column of houses dataframe: yr_built
15. Column of houses dataframe: yr_renovated
16. Column of houses dataframe: zipcode
17. Column of houses dataframe: lat
18. Column of houses dataframe: long
19. Column of houses dataframe: sqft_living15
20. Column of houses dataframe: sqft_lot15

In [9]:
# states dataframe'inin sütunlarını inceleyelim
states.columns

Index(['State', 'Abbrev', 'Code'], dtype='object')

In [10]:
# Sütunları daha düzenli olacak şekilde görebilmek adına aşağıdaki kod parçasını kullanabiliriz.
for column in states.columns:
    print(f"{states.columns.get_loc(column)}. Column of states dataframe: {column}")

0. Column of states dataframe: State
1. Column of states dataframe: Abbrev
2. Column of states dataframe: Code

In [11]:
# len() metodu -> dataframe içerisindeki satır sayısını verir.
len(houses)

21613

In [12]:
# shape -> satır ve sütun sayısını verir, geriye bir Tuple veri tipi döndürür.
# houses dataframe'inin satır ve sütun sayısını öğrenelim
houses.shape

(21613, 21)

In [13]:
# size -> Satır Sayısı x Sütun Sayısı
# houses dataframe'inin boyutunu öğrenelim
houses.size

453873

In [14]:
# İlk 100 satırı görebilmek için min_rows attribute'u üzerinde manipülasyon yapıyoruz.
pd.options.display.min_rows = 100

In [15]:
# Gerçekleştirdiğimiz manipülasyonun ardından houses dataframe'ini yeniden inceleyelim.
houses

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
12,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5,0,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0,...,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0,...,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850
20,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0,0,0,...,7,860,760,1947,0,98133,47.7025,-122.341,1400,4980
21,2524049179,20140826T000000,2000000.0,3,2.75,3050,44867,1.0,0,4,...,9,2330,720,1968,0,98040,47.5316,-122.233,4110,20336
22,7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0,0,0,...,8,2270,0,1995,0,98092,47.3266,-122.169,2240,7005
23,8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0,0,0,...,7,1070,0,1985,0,98030,47.3533,-122.166,1220,8386
24,3814700200,20141120T000000,329000.0,3,2.25,2450,6500,2.0,0,0,...,8,2450,0,1985,0,98030,47.3739,-122.172,2200,6865
25,1202000200,20141103T000000,233000.0,3,2.00,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
26,1794500383,20140626T000000,937000.0,3,1.75,2450,2691,2.0,0,0,...,8,1750,700,1915,0,98119,47.6386,-122.360,1760,3573
27,3303700376,20141201T000000,667000.0,3,1.00,1400,1581,1.5,0,0,...,8,1400,0,1909,0,98112,47.6221,-122.314,1860,3861
28,5101402488,20140624T000000,438000.0,3,1.75,1520,6380,1.0,0,0,...,7,790,730,1948,0,98115,47.6950,-122.304,1520,6235
29,1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0,0,0,...,8,2570,0,2005,0,98052,47.7073,-122.110,2630,6026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21583,2025049203,20140610T000000,399950.0,2,1.00,710,1157,2.0,0,0,...,7,710,0,1943,0,98102,47.6413,-122.329,1370,1173
21584,952006823,20141202T000000,380000.0,3,2.50,1260,900,2.0,0,0,...,7,940,320,2007,0,98116,47.5621,-122.384,1310,1415
21585,3832050760,20140828T000000,270000.0,3,2.50,1870,5000,2.0,0,0,...,7,1870,0,2009,0,98042,47.3339,-122.055,2170,5399
21586,2767604724,20141015T000000,505000.0,2,2.50,1430,1201,3.0,0,0,...,8,1430,0,2009,0,98107,47.6707,-122.381,1430,1249
21587,6632300207,20150305T000000,385000.0,3,2.50,1520,1488,3.0,0,0,...,8,1520,0,2006,0,98125,47.7337,-122.309,1520,1497
21588,2767600688,20141113T000000,414500.0,2,1.50,1210,1278,2.0,0,0,...,8,1020,190,2007,0,98117,47.6756,-122.375,1210,1118
21589,7570050450,20140910T000000,347500.0,3,2.50,2540,4760,2.0,0,0,...,8,2540,0,2010,0,98038,47.3452,-122.022,2540,4571
21590,7430200100,20140514T000000,1222500.0,4,3.50,4910,9444,1.5,0,0,...,11,3110,1800,2007,0,98074,47.6502,-122.066,4560,11063
21591,4140940150,20141002T000000,572000.0,4,2.75,2770,3852,2.0,0,0,...,8,2770,0,2014,0,98178,47.5001,-122.232,1810,5641
21592,1931300412,20150416T000000,475000.0,3,2.25,1190,1200,3.0,0,0,...,8,1190,0,2008,0,98103,47.6542,-122.346,1180,1224
21593,8672200110,20150317T000000,1088000.0,5,3.75,4170,8142,2.0,0,2,...,10,4170,0,2006,0,98056,47.5354,-122.181,3030,7980
21594,5087900040,20141017T000000,350000.0,4,2.75,2500,5995,2.0,0,0,...,8,2500,0,2008,0,98042,47.3749,-122.107,2530,5988
21595,1972201967,20141031T000000,520000.0,2,2.25,1530,981,3.0,0,0,...,8,1480,50,2006,0,98103,47.6533,-122.346,1530,1282
21596,7502800100,20140813T000000,679950.0,5,2.75,3600,9437,2.0,0,0,...,9,3600,0,2014,0,98059,47.4822,-122.131,3550,9421
21597,191100405,20150421T000000,1575000.0,4,3.25,3410,10125,2.0,0,0,...,10,3410,0,2007,0,98040,47.5653,-122.223,2290,10125
21598,8956200760,20141013T000000,541800.0,4,2.50,3118,7866,2.0,0,2,...,9,3118,0,2014,0,98001,47.2931,-122.264,2673,6500
21599,7202300110,20140915T000000,810000.0,4,3.00,3990,7838,2.0,0,0,...,9,3990,0,2003,0,98053,47.6857,-122.046,3370,6814
21600,249000205,20141015T000000,1537000.0,5,3.75,4470,8088,2.0,0,0,...,11,4470,0,2008,0,98004,47.6321,-122.200,2780,8964
21601,5100403806,20150407T000000,467000.0,3,2.50,1425,1179,3.0,0,0,...,8,1425,0,2008,0,98125,47.6963,-122.318,1285,1253
21602,844000965,20140626T000000,224000.0,3,1.75,1500,11968,1.0,0,0,...,6,1500,0,2014,0,98010,47.3095,-122.002,1320,11303
21603,7852140040,20140825T000000,507250.0,3,2.50,2270,5536,2.0,0,0,...,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21604,9834201367,20150126T000000,429000.0,3,2.00,1490,1126,3.0,0,0,...,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21605,3448900210,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21606,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [16]:
# Görmek istediğimiz satır sayısını 15 yapalım
pd.options.display.min_rows = 15

In [17]:
houses

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21606,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [18]:
# head() metodu, default olarak dataframe'in ilk beş satırını görmemizi sağlar.
first_5 = houses.head()

In [19]:
first_5

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [20]:
type(first_5)

pandas.core.frame.DataFrame

* Son 4 hücredeki işlemlere bakarak, head() metodunun geriye bir DataFrame döndürdüğünü anlayabiliriz.

In [21]:
first_10 = houses.head(10)

In [22]:
first_10

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [23]:
first_200 = houses.head(200)

In [24]:
first_200

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,3663500060,20140625T000000,400000.0,3,2.50,2180,7508,1.0,0,0,...,7,1420,760,1962,0,98133,47.7606,-122.336,1900,7818
194,3996900125,20141201T000000,230000.0,3,1.00,1060,10228,1.0,0,0,...,7,1060,0,1948,0,98155,47.7481,-122.300,1570,10228
195,7796450200,20140515T000000,256883.0,3,2.50,1690,5025,2.0,0,0,...,8,1690,0,2003,0,98023,47.2779,-122.347,2550,5001
196,7549802535,20141111T000000,423000.0,4,2.00,1970,6480,1.5,0,0,...,7,1130,840,1920,0,98108,47.5511,-122.312,1500,6480
197,3278600320,20140723T000000,465000.0,3,2.50,2150,4084,2.0,0,0,...,8,2150,0,2007,0,98126,47.5488,-122.372,1750,2385
198,2824079053,20150113T000000,440000.0,3,2.50,1910,66211,2.0,0,0,...,7,1910,0,1997,0,98024,47.5385,-121.911,2330,67268
199,1222069094,20141014T000000,385000.0,3,1.75,1350,155073,1.0,0,0,...,7,1350,0,1969,0,98038,47.4058,-121.994,1560,50965

In [25]:
# head() metodu, default olarak dataframe'in ilk beş satırını görmemizi sağlar.
last_5 = houses.tail()

In [26]:
last_5

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [27]:
last_9 = houses.tail(9)

In [28]:
last_9

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21604,9834201367,20150126T000000,429000.0,3,2.00,1490,1126,3.0,0,0,...,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21605,3448900210,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21606,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

***
**Hem head() metodu hem de tail() metodu yeni bir DataFrame döndürür ve her ikisinin de default parametresi 5'tir.**
***

In [29]:
# info() metodu, üzerinde çalıştığımız dataframe hakkında bazı bilgileri elde edebilmemizi sağlar.
# houses dataframe'i içerisindeki sütunların barındığı verilerin türünü ve sayısını inceleyelim.
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [30]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   51 non-null     object
 1   Abbrev  51 non-null     object
 2   Code    51 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

* Pandas, `string` tipindeki değişkenleri iki şekilde tutar:
    1. `object` veri tipi olarak ki bu tip stringler başta olmak üzere bütün Python objelerini kapsar.
    1. `StringDtype` tipinde tutar ki bu tip adından da anlaşılacağı üzere string tipindeki değişkenlere özeldir.

In [31]:
# dtypes, Sütunların tuttuğu verilerin veri tipini öğrenmemizi sağlar.
# houses dataframe'i içeriindeki sütunların barındığı verilerin türünü inceleyelim.
houses.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

***
## Titanic Veri Seti Analizi

In [32]:
# Titanic veri setini import edelim.
titanic = pd.read_csv("../Sources/data/titanic.csv")

In [33]:
# titanic dataframe'inin ilk beş örneğini inceleyelim.
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

### Feature'lar

* `pclass` - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
* `survived` - Survival (0 = No; 1 = Yes)
* `name` - Name
* `sex` - Sex
* `age` - Age
* `sibsp` - Number of Siblings/Spouses Aboard
* `parch` - Number of Parents/Children Aboard
* `ticket` - Ticket Number
* `fare` - Passenger Fare
* `cabin` - Cabin
* `embarked` - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
* `boat` - Lifeboat (if survived)
* `body` - Body number (if did not survive and body was recovered)
* `home.dest` - Home/Destination

In [34]:
# titanic dataframe'inin sütunlarını görelim.
titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [35]:
# titanic dataframe'inin son on örneğini inceleyelim.
titanic.tail(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1299,3,0,"Yasbeck, Mr. Antoni",male,27,1,0,2659,14.4542,?,C,C,?,?
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15,1,0,2659,14.4542,?,C,?,?,?
1301,3,0,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.225,?,C,?,312,?
1302,3,0,"Yousif, Mr. Wazli",male,?,0,0,2647,7.225,?,C,?,?,?
1303,3,0,"Yousseff, Mr. Gerious",male,?,0,0,2627,14.4583,?,C,?,?,?
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?,304,?
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,?,C,?,?,?
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,?,S,?,?,?

In [36]:
# titanic dataframe'inin sütunlarının barındırdığı verilerin türünü ve sayısını görelim.
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1309 non-null   object
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1309 non-null   object
 9   cabin      1309 non-null   object
 10  embarked   1309 non-null   object
 11  boat       1309 non-null   object
 12  body       1309 non-null   object
 13  home.dest  1309 non-null   object
dtypes: int64(4), object(10)
memory usage: 143.3+ KB

***
***age* feature'u, içerisinde birbirinden farklı tipte nümerik veriler barındırdığı için `object` tipinde karşımıza çıkıyor**
***

In [37]:
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

## *read_csv()* Metodunun ',' İşaretinin Ayırıcı Olarak Kullanılmadığı Veri Setlerine Uygulanması

* `netflix_titles.csv` dosyası içerisindeki veriler, pipe (`|`) karakteri ile birbirinden ayrılmış durumda. `read_csv()` metodunu kullanırken `sep="|"` şeklinde bir parametre kullanarak bu dosyadaki verileri düzgünce  import edebiliriz.


* Bununla birlikte, Netflix veri setinin ilk sütununda bir index sütunu bulunur. Bu sütunun dataframe'e aktarabilmek adına `index_col=0` parametresi kullanılır.

In [38]:
# `netflix_titles.csv` veri setini import edelim.
netflix = pd.read_csv("../Sources/data/netflix_titles.csv", sep="|", index_col=0)

In [39]:
# netflix dataframe'i içerisindeki örnek sayısını, sütunları ve sütunların barındırdığı verilerin türünü inceleyelim.
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB

In [40]:
# netflix dataset'inin ilk 5 örneğini inceleyelim.
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

***
## Yeni Sütun İsimleri Eklemek


`read_csv` metodunu, `names` parametresi ile birlikte kullanarak kendi hazırladığımız sütun isimlerini dataframe'e aktarabiliriz. Bununla birlikte **`header=0`** ifadesini de `read_csv` metoduna ekleyerek, orijinal sütun isimlerinin orijinal dosyadanın ilk satırında olduğunu ve karışıklık yaşanmaması adına bu satırın görmezden gelinmesi gerektiğini belirtebiliriz.

In [41]:
# Üzerinde çalışacağımız veri setini inceleyelim
pd.read_csv("../Sources/data/nst-est2020.csv")

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020
0,10,0,0,0,United States,308745538,308758105,309327143,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329398742,329484123
1,20,1,0,0,Northeast Region,55317240,55318414,55380764,55608318,55782661,55912775,56021339,56052790,56063777,56083383,56084543,56002934,55924275,55849869
2,20,2,0,0,Midwest Region,66927001,66929737,66975328,67164092,67348275,67576524,67765576,67885682,68018175,68160342,68263019,68340091,68357895,68316744
3,20,3,0,0,South Region,114555744,114563042,114869421,116019483,117264196,118397213,119666248,121049223,122419547,123611036,124649156,125686544,126494232,126662754
4,20,4,0,0,West Region,71945553,71946912,72101630,72791588,73482530,74173435,74933166,75751299,76570256,77267367,77841481,78300384,78622340,78654756
5,40,3,6,1,Alabama,4779736,4780118,4785514,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4920706,4921532
6,40,4,9,2,Alaska,710231,710246,713982,722349,730810,737626,737075,738430,742575,740983,736624,733603,732074,731158
7,40,4,8,4,Arizona,6392017,6392292,6407342,6473416,6556344,6634690,6732873,6832810,6944767,7048088,7164228,7291843,7393900,7421401
8,40,3,7,5,Arkansas,2915918,2916029,2921998,2941038,2952876,2960459,2968759,2979732,2991815,3003855,3012161,3020985,3029672,3030522
9,40,4,9,6,California,37253956,37254522,37319550,37636311,37944551,38253768,38586706,38904296,39149186,39337785,39437463,39437610,39418894,39368078
10,40,4,8,8,Colorado,5029196,5029319,5047539,5121900,5193660,5270774,5352637,5454328,5543844,5617421,5697155,5758486,5798266,5807719
11,40,1,1,9,Connecticut,3574097,3574151,3579173,3588632,3595211,3595792,3595697,3588561,3579830,3575324,3574561,3566022,3561494,3557006
12,40,3,5,10,Delaware,897934,897947,899647,907590,915518,924062,933131,942065,949989,957942,966985,976668,984899,986809
13,40,3,5,11,District of Columbia,601723,601767,605282,620290,635737,651559,663603,677014,687576,697079,704147,708253,712185,712816
14,40,3,5,12,Florida,18801310,18804589,18846143,19055607,19302016,19551678,19853880,20219111,20627237,20977089,21254926,21492056,21688239,21733312
15,40,3,5,13,Georgia,9687653,9688737,9712209,9803630,9903580,9975592,10071204,10183353,10308442,10417031,10519389,10628020,10695662,10710017
16,40,4,9,15,Hawaii,1360301,1360304,1364004,1379562,1395199,1408822,1415335,1422999,1428885,1425763,1423102,1415615,1410587,1407006
17,40,4,8,16,Idaho,1567582,1567658,1570819,1584272,1595910,1612053,1632248,1652495,1684036,1719745,1752074,1789060,1818238,1826913
18,40,2,3,17,Illinois,12830632,12831572,12840545,12867783,12883029,12895778,12885092,12859585,12821709,12779893,12724685,12667017,12615162,12587530
19,40,2,3,18,Indiana,6483802,6484050,6490555,6517250,6538989,6570575,6596019,6611442,6637898,6662068,6698481,6731010,6752183,6754953
20,40,2,4,19,Iowa,3046355,3046877,3050819,3066772,3076844,3093935,3110643,3122541,3133210,3143734,3149900,3159596,3164115,3163561
21,40,2,4,20,Kansas,2853118,2853120,2858266,2869677,2886024,2894306,2901861,2910717,2912977,2910892,2912748,2912635,2915024,2913805
22,40,3,6,21,Kentucky,4339367,4339330,4348464,4370817,4387865,4406906,4416992,4429126,4440306,4455590,4464273,4472345,4477899,4477251
23,40,3,7,22,Louisiana,4533372,4533500,4544635,4576244,4602067,4626040,4645938,4666998,4681346,4673673,4664450,4658285,4650984,4645318
24,40,1,1,23,Maine,1328361,1328354,1327651,1328473,1328094,1328543,1331217,1329098,1332348,1335743,1340123,1345770,1349647,1350141
25,40,3,5,24,Maryland,5773552,5773787,5788784,5840241,5888375,5925197,5960064,5988528,6007014,6028186,6042153,6054954,6059529,6055802
26,40,1,1,25,Massachusetts,6547629,6547788,6566440,6614218,6664269,6715158,6764864,6797484,6827280,6863560,6885720,6894883,6898116,6893574
27,40,2,3,26,Michigan,9883640,9884112,9877597,9883053,9898289,9914802,9932033,9934483,9954117,9976752,9987286,9984795,9976330,9966555
28,40,2,4,27,Minnesota,5303925,5303933,5310934,5346620,5377500,5414722,5452665,5484002,5525360,5569283,5608762,5640053,5655855,5657342
29,40,3,6,28,Mississippi,2967297,2968129,2970615,2979147,2984599,2989839,2991892,2990231,2990595,2990674,2982879,2978227,2971253,2966786
30,40,2,4,29,Missouri,5988927,5988941,5996089,6011182,6026027,6042989,6059130,6075411,6091384,6111382,6125986,6140475,6151737,6151548
31,40,4,8,30,Montana,989415,989400,990730,997518,1004168,1014158,1022657,1031495,1042137,1053862,1061818,1070123,1078405,1080577
32,40,2,4,31,Nebraska,1826341,1826311,1829591,1840914,1853691,1865813,1879955,1892059,1906483,1916998,1925512,1932571,1937258,1937552
33,40,4,8,32,Nevada,2700551,2700683,2702483,2713114,2744670,2776956,2818935,2868531,2919555,2972097,3030725,3090771,3128500,3138259
34,40,1,1,33,New Hampshire,1316470,1316457,1316807,1320444,1324677,1327272,1334257,1337480,1343694,1350395,1355064,1360783,1365533,1366275
35,40,1,2,34,New Jersey,8791894,8791959,8799451,8828552,8845671,8857821,8867277,8870312,8873584,8888147,8891730,8891258,8890883,8882371
36,40,4,8,35,New Mexico,2059179,2059199,2064614,2080707,2087715,2092833,2090236,2090071,2092555,2092844,2093754,2099634,2106117,2106319
37,40,1,2,36,New York,19378102,19378117,19399956,19499921,19574362,19626488,19653431,19657321,19636391,19593849,19544098,19463131,19382373,19336776
38,40,3,5,37,North Carolina,9535483,9535762,9574586,9658913,9751810,9846717,9937295,10037218,10161802,10275758,10391358,10501384,10581885,10600823
39,40,2,4,38,North Dakota,672591,672575,674752,685526,702227,723149,738736,755537,756114,756755,760062,763724,765224,765309
40,40,2,3,39,Ohio,11536504,11536763,11539449,11545735,11550971,11579692,11606573,11622315,11640060,11665706,11680892,11696507,11699855,11693217
41,40,3,7,40,Oklahoma,3751351,3751582,3760014,3788824,3819320,3853891,3879187,3910518,3928143,3933602,3943488,3960676,3977682,3980783
42,40,4,9,41,Oregon,3831074,3831083,3837614,3872672,3900102,3924110,3965447,4018542,4093271,4147294,4183538,4216116,4237408,4241507
43,40,1,2,42,Pennsylvania,12702379,12702891,12711406,12747052,12769123,12779538,12792392,12789838,12788468,12794679,12809107,12798883,12794404,12783254
44,40,1,1,44,Rhode Island,1052567,1052970,1053994,1053829,1054893,1055560,1056511,1056886,1057816,1056554,1059338,1058158,1058004,1057125
45,40,3,5,45,South Carolina,4625364,4625358,4635846,4672655,4719027,4766469,4826858,4896006,4963031,5027102,5091702,5157702,5205864,5218040
46,40,2,4,46,South Dakota,814180,814198,816193,823740,833859,842751,849670,854663,863693,873732,879386,887127,891688,892717
47,40,3,6,47,Tennessee,6346105,6346281,6355518,6400298,6455752,6496943,6544617,6595354,6651277,6714748,6778180,6830325,6875939,6886834
48,40,3,7,48,Texas,25145561,25146072,25241897,25645504,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29286467,29360759
49,40,4,8,49,Utah,2763885,2763891,2775413,2814797,2854146,2898773,2938327,2983626,3044241,3103540,3155153,3203383,3239542,3249879
50,40,1,1,50,Vermont,625741,625727,625886,627197,626361,626603,625693,625810,624366,625132,624802,624046,623821,623347
51,40,3,5,51,Virginia,8001024,8001046,8024004,8102437,8187456,8255861,8315430,8367303,8417651,8471011,8510920,8556642,8587217,8590563
52,40,4,9,53,Washington,6724540,6724540,6743009,6827479,6898599,6966252,7057531,7167287,7299961,7427951,7526793,7614024,7678379,7693612
53,40,3,5,54,West Virginia,1852994,1853008,1854265,1856606,1857446,1854768,1850569,1843332,1832435,1818683,1805953,1795263,1788150,1784787
54,40,2,3,55,Wisconsin,5686986,5687285,5690538,5705840,5720825,5738012,5753199,5762927,5775170,5793147,5809319,5824581,5833464,5832655
55,40,4,8,56,Wyoming,563626,563775,564531,567491,576656,582620,583159,586389,585243,579994,579054,580116,582030,582328
56,40,X,X,72,Puerto Rico,3725789,3726157,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325284,3193344,3193553,3167851,3159343

In [42]:
# Sütun isimlerini değiştirmek için yeni isimleri bir liste içerisinde tutalım
names = ['sumlev', 'region', 'division', 'state', 'name', 'census2010pop', 'estimatesbase2010', 'popestimate2010', 'popestimate2011', 'popestimate2012', 'popestimate2013', 'popestimate2014', 'popestimate2015', 'popestimate2016', 'popestimate2017', 'popestimate2018', 'popestimate2019', 'popestimate042020', 'popestimate2020']

In [43]:
# Şimdi de yeni isimleri kullanarak veri setini inceleyelim
pd.read_csv("../Sources/data/nst-est2020.csv", names=names)

,sumlev,region,division,state,name,census2010pop,estimatesbase2010,popestimate2010,popestimate2011,popestimate2012,popestimate2013,popestimate2014,popestimate2015,popestimate2016,popestimate2017,popestimate2018,popestimate2019,popestimate042020,popestimate2020
0,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020
1,010,0,0,00,United States,308745538,308758105,309327143,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329398742,329484123
2,020,1,0,00,Northeast Region,55317240,55318414,55380764,55608318,55782661,55912775,56021339,56052790,56063777,56083383,56084543,56002934,55924275,55849869
3,020,2,0,00,Midwest Region,66927001,66929737,66975328,67164092,67348275,67576524,67765576,67885682,68018175,68160342,68263019,68340091,68357895,68316744
4,020,3,0,00,South Region,114555744,114563042,114869421,116019483,117264196,118397213,119666248,121049223,122419547,123611036,124649156,125686544,126494232,126662754
5,020,4,0,00,West Region,71945553,71946912,72101630,72791588,73482530,74173435,74933166,75751299,76570256,77267367,77841481,78300384,78622340,78654756
6,040,3,6,01,Alabama,4779736,4780118,4785514,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4920706,4921532
7,040,4,9,02,Alaska,710231,710246,713982,722349,730810,737626,737075,738430,742575,740983,736624,733603,732074,731158
8,040,4,8,04,Arizona,6392017,6392292,6407342,6473416,6556344,6634690,6732873,6832810,6944767,7048088,7164228,7291843,7393900,7421401
9,040,3,7,05,Arkansas,2915918,2916029,2921998,2941038,2952876,2960459,2968759,2979732,2991815,3003855,3012161,3020985,3029672,3030522
10,040,4,9,06,California,37253956,37254522,37319550,37636311,37944551,38253768,38586706,38904296,39149186,39337785,39437463,39437610,39418894,39368078
11,040,4,8,08,Colorado,5029196,5029319,5047539,5121900,5193660,5270774,5352637,5454328,5543844,5617421,5697155,5758486,5798266,5807719
12,040,1,1,09,Connecticut,3574097,3574151,3579173,3588632,3595211,3595792,3595697,3588561,3579830,3575324,3574561,3566022,3561494,3557006
13,040,3,5,10,Delaware,897934,897947,899647,907590,915518,924062,933131,942065,949989,957942,966985,976668,984899,986809
14,040,3,5,11,District of Columbia,601723,601767,605282,620290,635737,651559,663603,677014,687576,697079,704147,708253,712185,712816
15,040,3,5,12,Florida,18801310,18804589,18846143,19055607,19302016,19551678,19853880,20219111,20627237,20977089,21254926,21492056,21688239,21733312
16,040,3,5,13,Georgia,9687653,9688737,9712209,9803630,9903580,9975592,10071204,10183353,10308442,10417031,10519389,10628020,10695662,10710017
17,040,4,9,15,Hawaii,1360301,1360304,1364004,1379562,1395199,1408822,1415335,1422999,1428885,1425763,1423102,1415615,1410587,1407006
18,040,4,8,16,Idaho,1567582,1567658,1570819,1584272,1595910,1612053,1632248,1652495,1684036,1719745,1752074,1789060,1818238,1826913
19,040,2,3,17,Illinois,12830632,12831572,12840545,12867783,12883029,12895778,12885092,12859585,12821709,12779893,12724685,12667017,12615162,12587530
20,040,2,3,18,Indiana,6483802,6484050,6490555,6517250,6538989,6570575,6596019,6611442,6637898,6662068,6698481,6731010,6752183,6754953
21,040,2,4,19,Iowa,3046355,3046877,3050819,3066772,3076844,3093935,3110643,3122541,3133210,3143734,3149900,3159596,3164115,3163561
22,040,2,4,20,Kansas,2853118,2853120,2858266,2869677,2886024,2894306,2901861,2910717,2912977,2910892,2912748,2912635,2915024,2913805
23,040,3,6,21,Kentucky,4339367,4339330,4348464,4370817,4387865,4406906,4416992,4429126,4440306,4455590,4464273,4472345,4477899,4477251
24,040,3,7,22,Louisiana,4533372,4533500,4544635,4576244,4602067,4626040,4645938,4666998,4681346,4673673,4664450,4658285,4650984,4645318
25,040,1,1,23,Maine,1328361,1328354,1327651,1328473,1328094,1328543,1331217,1329098,1332348,1335743,1340123,1345770,1349647,1350141
26,040,3,5,24,Maryland,5773552,5773787,5788784,5840241,5888375,5925197,5960064,5988528,6007014,6028186,6042153,6054954,6059529,6055802
27,040,1,1,25,Massachusetts,6547629,6547788,6566440,6614218,6664269,6715158,6764864,6797484,6827280,6863560,6885720,6894883,6898116,6893574
28,040,2,3,26,Michigan,9883640,9884112,9877597,9883053,9898289,9914802,9932033,9934483,9954117,9976752,9987286,9984795,9976330,9966555
29,040,2,4,27,Minnesota,5303925,5303933,5310934,5346620,5377500,5414722,5452665,5484002,5525360,5569283,5608762,5640053,5655855,5657342
30,040,3,6,28,Mississippi,2967297,2968129,2970615,2979147,2984599,2989839,2991892,2990231,2990595,2990674,2982879,2978227,2971253,2966786
31,040,2,4,29,Missouri,5988927,5988941,5996089,6011182,6026027,6042989,6059130,6075411,6091384,6111382,6125986,6140475,6151737,6151548
32,040,4,8,30,Montana,989415,989400,990730,997518,1004168,1014158,1022657,1031495,1042137,1053862,1061818,1070123,1078405,1080577
33,040,2,4,31,Nebraska,1826341,1826311,1829591,1840914,1853691,1865813,1879955,1892059,1906483,1916998,1925512,1932571,1937258,1937552
34,040,4,8,32,Nevada,2700551,2700683,2702483,2713114,2744670,2776956,2818935,2868531,2919555,2972097,3030725,3090771,3128500,3138259
35,040,1,1,33,New Hampshire,1316470,1316457,1316807,1320444,1324677,1327272,1334257,1337480,1343694,1350395,1355064,1360783,1365533,1366275
36,040,1,2,34,New Jersey,8791894,8791959,8799451,8828552,8845671,8857821,8867277,8870312,8873584,8888147,8891730,8891258,8890883,8882371
37,040,4,8,35,New Mexico,2059179,2059199,2064614,2080707,2087715,2092833,2090236,2090071,2092555,2092844,2093754,2099634,2106117,2106319
38,040,1,2,36,New York,19378102,19378117,19399956,19499921,19574362,19626488,19653431,19657321,19636391,19593849,19544098,19463131,19382373,19336776
39,040,3,5,37,North Carolina,9535483,9535762,9574586,9658913,9751810,9846717,9937295,10037218,10161802,10275758,10391358,10501384,10581885,10600823
40,040,2,4,38,North Dakota,672591,672575,674752,685526,702227,723149,738736,755537,756114,756755,760062,763724,765224,765309
41,040,2,3,39,Ohio,11536504,11536763,11539449,11545735,11550971,11579692,11606573,11622315,11640060,11665706,11680892,11696507,11699855,11693217
42,040,3,7,40,Oklahoma,3751351,3751582,3760014,3788824,3819320,3853891,3879187,3910518,3928143,3933602,3943488,3960676,3977682,3980783
43,040,4,9,41,Oregon,3831074,3831083,3837614,3872672,3900102,3924110,3965447,4018542,4093271,4147294,4183538,4216116,4237408,4241507
44,040,1,2,42,Pennsylvania,12702379,12702891,12711406,12747052,12769123,12779538,12792392,12789838,12788468,12794679,12809107,12798883,12794404,12783254
45,040,1,1,44,Rhode Island,1052567,1052970,1053994,1053829,1054893,1055560,1056511,1056886,1057816,1056554,1059338,1058158,1058004,1057125
46,040,3,5,45,South Carolina,4625364,4625358,4635846,4672655,4719027,4766469,4826858,4896006,4963031,5027102,5091702,5157702,5205864,5218040
47,040,2,4,46,South Dakota,814180,814198,816193,823740,833859,842751,849670,854663,863693,873732,879386,887127,891688,892717
48,040,3,6,47,Tennessee,6346105,6346281,6355518,6400298,6455752,6496943,6544617,6595354,6651277,6714748,6778180,6830325,6875939,6886834
49,040,3,7,48,Texas,25145561,25146072,25241897,25645504,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29286467,29360759
50,040,4,8,49,Utah,2763885,2763891,2775413,2814797,2854146,2898773,2938327,2983626,3044241,3103540,3155153,3203383,3239542,3249879
51,040,1,1,50,Vermont,625741,625727,625886,627197,626361,626603,625693,625810,624366,625132,624802,624046,623821,623347
52,040,3,5,51,Virginia,8001024,8001046,8024004,8102437,8187456,8255861,8315430,8367303,8417651,8471011,8510920,8556642,8587217,8590563
53,040,4,9,53,Washington,6724540,6724540,6743009,6827479,6898599,6966252,7057531,7167287,7299961,7427951,7526793,7614024,7678379,7693612
54,040,3,5,54,West Virginia,1852994,1853008,1854265,1856606,1857446,1854768,1850569,1843332,1832435,1818683,1805953,1795263,1788150,1784787
55,040,2,3,55,Wisconsin,5686986,5687285,5690538,5705840,5720825,5738012,5753199,5762927,5775170,5793147,5809319,5824581,5833464,5832655
56,040,4,8,56,Wyoming,563626,563775,564531,567491,576656,582620,583159,586389,585243,579994,579054,580116,582030,582328
57,040,X,X,72,Puerto Rico,3725789,3726157,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325284,3193344,3193553,3167851,3159343

***
**Dikkat ederseniz, dataframe'in sütunlarının ismimlerini belirlediğimiz isimlerle değiştirdiğimizde, orijinal veri setinin ilk örneğindeki sütun isimleri bir veri gibi davranarak dataframe'e dahil oluyor. Karışıklık olmaması adına bu durumun önüne geçmek istiyoruz. Bu nedenle yukarıda bahsedildiği gibi `header` parametresine `0` atayarak orijinal sütun isimlerinin korunmasını ancak görmezden gelinerek yeni sütun isimlerinin gösterilmesini sağlayacağız.**
***

In [44]:
# Veri setimizi yeni isimlerle ve düzenlenmiş halde import edelim
state_pops = pd.read_csv("../Sources/data/nst-est2020.csv", names=names, header=0)

In [45]:
# dataframe'in ilk beş örneğini görelim.
state_pops.head()

,sumlev,region,division,state,name,census2010pop,estimatesbase2010,popestimate2010,popestimate2011,popestimate2012,popestimate2013,popestimate2014,popestimate2015,popestimate2016,popestimate2017,popestimate2018,popestimate2019,popestimate042020,popestimate2020
0,10,0,0,0,United States,308745538,308758105,309327143,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329398742,329484123
1,20,1,0,0,Northeast Region,55317240,55318414,55380764,55608318,55782661,55912775,56021339,56052790,56063777,56083383,56084543,56002934,55924275,55849869
2,20,2,0,0,Midwest Region,66927001,66929737,66975328,67164092,67348275,67576524,67765576,67885682,68018175,68160342,68263019,68340091,68357895,68316744
3,20,3,0,0,South Region,114555744,114563042,114869421,116019483,117264196,118397213,119666248,121049223,122419547,123611036,124649156,125686544,126494232,126662754
4,20,4,0,0,West Region,71945553,71946912,72101630,72791588,73482530,74173435,74933166,75751299,76570256,77267367,77841481,78300384,78622340,78654756

In [46]:
# Yukarıda da görüldüğü üzere amacımıza ulaştık.
# Daha iyi anlamak için orijinal data frame'deki sütun isimlerinin değişip değişmediğine bakalım.
pd.read_csv("../Sources/data/nst-est2020.csv").head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020
0,10,0,0,0,United States,308745538,308758105,309327143,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329398742,329484123
1,20,1,0,0,Northeast Region,55317240,55318414,55380764,55608318,55782661,55912775,56021339,56052790,56063777,56083383,56084543,56002934,55924275,55849869
2,20,2,0,0,Midwest Region,66927001,66929737,66975328,67164092,67348275,67576524,67765576,67885682,68018175,68160342,68263019,68340091,68357895,68316744
3,20,3,0,0,South Region,114555744,114563042,114869421,116019483,117264196,118397213,119666248,121049223,122419547,123611036,124649156,125686544,126494232,126662754
4,20,4,0,0,West Region,71945553,71946912,72101630,72791588,73482530,74173435,74933166,75751299,76570256,77267367,77841481,78300384,78622340,78654756

***
**Görüldüğü gibi orijinal dataframe'de herhangi bir değişiklik olmadı. Buradan anlıyoruz ki sütün isimlerini `names` parametresi ile değiştirken aslında sütun isimlerini belirlenen isimlerle göstermiş oluyoruz ya da yeni sütun isimlerine sahip bir dataframe oluştururuz. Bu işlem, veri üzerinde çalışırken kafa karışıklılığı yaratmamak adına kullanılıp işleri hızlandırabilir.**
***